<!-- wp:template-part {"slug":"header","tagName":"header","className":"bz-site-header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main-content","className":"bz-site-main","layout":{"type":"default"}} -->
<main id="main-content" class="wp-block-group bz-site-main"><!-- wp:group {"className":"bz-page-header","layout":{"type":"default"}} -->
<div class="wp-block-group bz-page-header"><!-- wp:post-title {"level":1} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"bz-site-footer"} /-->
